
.nav-item {
    margin: 0 10px;
}

#main {
    display: block;
    height: auto;
    width: 100vw;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    position: relative;
    background-position: 50% 50%;
}

  #shoes3d {
    display: flex;
    place-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: 100vh ;
    overflow: hidden;
    background-attachment: fixed;


  }

  #shoes3d::before{
    content: '';
    background-image: url('../components/assets/img/Inicio/bg01.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    --webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    animation: zoomAnimation 20s infinite ease-in-out;
    overflow: hidden;
    filter: invert(1);

  }

  @keyframes zoomAnimation {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(150%);
    }

    100% {
        transform: scale(100%);
    }
  }

   


#vendidos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100w;
}

#vendidos h3 {
    margin: 50px;
}

.vendidos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0;
    place-items: center;
    width: 100%;
    
}

 #produtos {
    justify-content: start;
    align-items: start;
    height: auto !important;
    padding-top: 8vh;
    width: 100vw;

    .false{
        display: none;
    }

      
}


.products-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 0;

    
}
   
@media screen and (min-width: 767px) and (max-width: 1023px){


    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* height: 100vh !important; */
        /* position: static; */

    }
    .none{
        display: inline;
    }

    #shoes3d{
        height: 100vh !important;
    }

    #vendidos{
        align-items: center;
        height: auto !important;
        
    }

    .vendidos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .vendidos span, .vendidos span img{
     width: 30vw;
    }

    .vendidos span button {
        width: 30vw;
        height: 3vh;
       

    }

    span h5{
        font-size: 1.5rem;
    }

    #produtos{
        & .hide{
            background-color: white;
            width: 100vw;
            height: 5vh;
            position: sticky;
            top: 8%;
    
            & svg{
                font-size: 3rem;
            }
    
               & span{
                    display: none;
                }
            }
    }

    .products-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        padding: 20px 0;
        width: 100vw;

        & span{
            width: 50vw;
            aspect-ratio: 9/16;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            & img{
                width: 50vw;
                object-fit: contain;
                aspect-ratio: 9/16;
        
            }
            
             & .desc-product-home{
                margin: 0 auto;
                text-align: center;

                & h5{
                    font-size: 2rem;
                }

                & p{
                    font-size: 1.5rem;
                }
            }
        }
    
        
    }
    
}